* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0.5rem 0.5rem;
    border: 1px solid #000000;
}

.square {
    aspect-ratio: 1;
    width: calc(100% / var(--grid-squares-per-side));
    transition: background-color 0.3s ease;
}

.turn-to-black {
    background-color: rgba(0, 0, 0, 1);
}

button.configure-squares {
    margin: 1rem;
}